<form [formGroup]="configForm" class="config" *ngIf="!session && !sessionLoading" (ngSubmit)="authorize(configForm.value)">
  <mat-form-field appearance="outline">
    <mat-label>Video SDK Provider</mat-label>
    <mat-select formControlName="videoSDKProvider">
      <mat-option value="zoom">Zoom Video SDK</mat-option>
      <mat-option value="twilio">Twilio Video SDK</mat-option>
      <!-- <mat-option value="agora">Agora Video SDK</mat-option> -->
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Your Name</mat-label>
    <input matInput formControlName="yourName" autocomplete="off">
    <mat-icon matSuffix>face</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Session Name</mat-label>
    <input matInput formControlName="sessionName" autocomplete="off">
    <mat-icon matSuffix>meeting_room</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Session Passcode</mat-label>
    <input matInput formControlName="sessionPasscode" autocomplete="off">
    <mat-icon matSuffix>vpn_key</mat-icon>
  </mat-form-field>

  <button mat-fab color="primary" *ngIf="!session">
    <mat-icon>login</mat-icon>
  </button>
</form>

<div class="videoSDKProvider" *ngIf="session && !sessionLoading">
  <h1>{{ videoSDKProvider }} Video SDK</h1>
</div>

<div class="controls" *ngIf="session && !sessionLoading">

  <button mat-fab color="primary" (click)="startAudio()" *ngIf="!mic && !audio">
    <mat-icon>volume_off</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="mute()" *ngIf="mic && audio">
    <mat-icon>mic</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="unmute()" *ngIf="!mic && audio">
    <mat-icon>mic_off</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="stopCamera()" *ngIf="camera">
    <mat-icon>videocam</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="startCamera()" *ngIf="!camera">
    <mat-icon>videocam_off</mat-icon>
  </button>

  <!-- zoom specific, make compatible with other SDK providers -->
  <ng-container *ngIf="videoSDKProvider==='zoom'">
    <button mat-fab color="primary" [matMenuTriggerFor]="menu" [matBadge]="zoomVideo.getAllUser().length">
      <mat-icon>people</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let user of zoomVideo.getAllUser()">{{ user.displayName }}</button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="videoSDKProvider==='twilio' && twilioSession.participants">
    <button mat-fab color="primary" [matMenuTriggerFor]="menu" [matBadge]="twilioSession.participants.size+1">
      <mat-icon>people</mat-icon>
    </button>
    <!-- fix this since twilio does not use arrays for some reason -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>{{ twilioSession.localParticipant.identity }}</button>
      <button mat-menu-item *ngFor="let user of twilioSession.participants | twilio">{{ user.value.identity }}</button>
    </mat-menu>
  </ng-container>



  <button mat-fab color="warn" (click)="leave()">
    <mat-icon>logout</mat-icon>
  </button>
</div>

<div class="sessionLoading" *ngIf="sessionLoading">
  <mat-spinner></mat-spinner>
</div>

<!-- <mat-spinner *ngIf="micLoading"></mat-spinner> -->
<!-- <mat-spinner *ngIf="cameraLoading"></mat-spinner> -->

<div class="view" [style.display]="session ? 'flex' : 'none'">
  <mat-grid-list [cols]="breakpoint" rowHeight="16:9" (window:resize)="onResize($event)">
    <mat-grid-tile>
      <mat-spinner *ngIf="cameraLoading"></mat-spinner>
      <ng-container *ngIf="videoSDKProvider==='zoom'">
        <p *ngIf="zoomVideo && zoomVideo.getCurrentUserInfo()">
          <mat-icon *ngIf="audio && !mic">mic_off</mat-icon>
          <mat-icon *ngIf="audio && mic">mic_on</mat-icon>
          <mat-icon *ngIf="!audio">volume_off</mat-icon>
          {{ zoomVideo.getCurrentUserInfo().displayName }} (me)
        </p>
        <mat-icon *ngIf="!camera && !cameraLoading">sentiment_satisfied_alt</mat-icon>
        <video id="self-view-video" width="1920" height="1080" [hidden]="!useVideoElementForZoom"></video>
        <canvas id="self-view-canvas" width="1920" height="1080" [hidden]="!useCanvasElementForZoom"></canvas>
      </ng-container>
      <ng-container *ngIf="videoSDKProvider==='twilio'">
        <p *ngIf="twilioSession">
          <mat-icon *ngIf="audio && !mic">mic_off</mat-icon>
          <mat-icon *ngIf="audio && mic">mic_on</mat-icon>
          <mat-icon *ngIf="!audio">volume_off</mat-icon>
          {{ twilioSession.localParticipant.identity }} (me)
        </p>
        <mat-icon *ngIf="!camera && !cameraLoading">sentiment_satisfied_alt</mat-icon>
        <div id="twilio-self-view-div" [hidden]="!camera"></div>
      </ng-container>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- if no particpant -->
      <p *ngIf="!activeSpeaker">Waiting for others to join...</p>
      <ng-container *ngIf="videoSDKProvider==='zoom'">
        <!-- else -->
        <p *ngIf="activeSpeaker">
          <mat-icon *ngIf="activeSpeaker.audio && activeSpeaker.muted">mic_off</mat-icon>
          <mat-icon *ngIf="activeSpeaker.audio && !activeSpeaker.muted">mic_on</mat-icon>
          <mat-icon *ngIf="!activeSpeaker.audio">volume_off</mat-icon>
          {{ activeSpeaker.displayName }}
        </p>

        <!-- if no video -->
        <mat-icon *ngIf="activeSpeaker && !activeSpeaker.bVideoOn">insert_emoticon</mat-icon>
        <!-- else -->
        <canvas id="participant-canvas" width="1920" height="1080" [hidden]="!activeSpeaker || !activeSpeaker.bVideoOn" *ngIf="zoomVideo"></canvas>
      </ng-container>
      <ng-container *ngIf="videoSDKProvider==='twilio'">
        <p *ngIf="activeSpeaker && activeSpeaker.value">
          <mat-icon *ngIf="activeSpeaker.value.audioTracks.size && activeSpeaker.value.muted">mic_off</mat-icon>
          <mat-icon *ngIf="activeSpeaker.value.audioTracks.size && !activeSpeaker.value.muted">mic_on</mat-icon>
          <mat-icon *ngIf="!activeSpeaker.value.audioTracks.size">volume_off</mat-icon>
          {{ activeSpeaker.value.identity }}
        </p>

        <!-- if no video -->
        <mat-icon *ngIf="activeSpeaker && !activeSpeaker.value.videoTracks.size">insert_emoticon</mat-icon>
        <div id="twilio-user-view-div" [hidden]="!activeSpeaker || !activeSpeaker.value.videoTracks.size"></div>
      </ng-container>
    </mat-grid-tile>
  </mat-grid-list>
</div>
