<form [formGroup]="configForm" class="config" *ngIf="!inSession && !sessionLoading" (ngSubmit)="authorize(configForm.value)">
  <mat-form-field appearance="outline">
    <mat-label>Video SDK Provider</mat-label>
    <mat-select formControlName="videoSDKProvider">
      <mat-option value="zoom">Zoom Video SDK</mat-option>
      <mat-option value="twilio">Twilio Video SDK</mat-option>
      <mat-option value="agora">Agora Video SDK</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Your Name</mat-label>
    <input matInput formControlName="yourName" autocomplete="off">
    <mat-icon matSuffix>face</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Session Name</mat-label>
    <input matInput formControlName="sessionName" autocomplete="off">
    <mat-icon matSuffix>meeting_room</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Session Passcode</mat-label>
    <input matInput formControlName="sessionPasscode" autocomplete="off">
    <mat-icon matSuffix>vpn_key</mat-icon>
  </mat-form-field>

  <button mat-fab color="primary" *ngIf="!inSession">
    <mat-icon>login</mat-icon>
  </button>
</form>

<div class="controls" *ngIf="inSession && !sessionLoading">

  <button mat-fab color="primary" (click)="startAudio()" *ngIf="!mic && !audio && videoSDKProvider === 'zoom'">
    <mat-icon>volume_off</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="mute()" *ngIf="mic && (audio || videoSDKProvider !== 'zoom')">
    <mat-icon>mic</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="unmute()" *ngIf="!mic && (audio || videoSDKProvider !== 'zoom')">
    <mat-icon>mic_off</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="stopCamera()" *ngIf="camera">
    <mat-icon>videocam</mat-icon>
  </button>

  <button mat-fab color="primary" (click)="startCamera()" *ngIf="!camera">
    <mat-icon>videocam_off</mat-icon>
  </button>

  <!-- zoom specific, make compatible with other SDK providers -->
  <ng-container *ngIf="videoSDKProvider==='zoom'">
    <button mat-fab color="primary" [matMenuTriggerFor]="menu">
      <mat-icon [matBadge]="zoomClient.getAllUser().length">people</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let user of zoomClient.getAllUser()">{{ user.displayName }}</button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="videoSDKProvider==='twilio' && twilioRoom.participants">
    <button mat-fab color="primary" [matMenuTriggerFor]="menu">
      <mat-icon [matBadge]="twilioRoom.participants.size+1">people</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let user of twilioRoom.participants">{{ user }}</button>
    </mat-menu>
  </ng-container>



  <button mat-fab color="warn" (click)="leave()">
    <mat-icon>logout</mat-icon>
  </button>
</div>

<div class="sessionLoading" *ngIf="sessionLoading">
  <mat-spinner></mat-spinner>
</div>

<!-- <mat-spinner *ngIf="micLoading"></mat-spinner> -->
<!-- <mat-spinner *ngIf="cameraLoading"></mat-spinner> -->

<div class="view" [style.display]="inSession ? 'flex' : 'none'">
  <mat-grid-list [cols]="breakpoint" rowHeight="16:9" (window:resize)="onResize($event)">
    <mat-grid-tile>
      <p *ngIf="zoomClient && zoomClient.getCurrentUserInfo()">{{ zoomClient.getCurrentUserInfo().displayName }} (me)</p>
      <mat-icon *ngIf="!camera">sentiment_satisfied_alt</mat-icon>
      <video id="self-view-video" width="1920" height="1080" [hidden]="!platform.BLINK || !camera || videoSDKProvider!=='zoom'"></video>
      <canvas id="self-view-canvas" width="1920" height="1080" [hidden]="platform.BLINK || !camera || videoSDKProvider!=='zoom'"></canvas>
      <div id="local-media" *ngIf="videoSDKProvider==='twilio'"></div>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- if no particpant -->
      <p *ngIf="!activeSpeaker">Waiting for others to join...</p>
      <!-- else -->
      <p *ngIf="activeSpeaker">{{ activeSpeaker.displayName }}</p>

      <!-- if no video -->
      <mat-icon *ngIf="activeSpeaker && !activeSpeaker.bVideoOn">insert_emoticon</mat-icon>
      <!-- else -->
      <canvas id="participant-canvas" width="1920" height="1080" [hidden]="!activeSpeaker || !activeSpeaker.bVideoOn || videoSDKProvider!=='zoom'" *ngIf="zoomClient"></canvas>
      <div id="remote-media-div" *ngIf="videoSDKProvider==='twilio'"></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
