
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#twilio-self-view-div video {
  width: 100%;
  transform: scaleX(-1);
}

#twilio-user-view-div video {
  width: 100% !important;
}